.title{
    display: flex;
    justify-content: center;
    color: rebeccapurple;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.filter{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rebeccapurple;
    
}
.quote_name{
    color: rebeccapurple;
}
.form{
   display: flex;
   justify-content:center;
   padding: 5px;
}
.page{
    height: 100vh;
    background-image: url('../images/friends2.jpg');
}

